name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Install Rust toolchain
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          components: rustfmt, clippy

      # Install wasm32 target
      - name: Install wasm32 target
        run: rustup target add wasm32-unknown-unknown

      # Cache cargo registry
      - name: Cache cargo registry
        uses: actions/cache@v5
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-registry-

      # Cache cargo target
      - name: Cache cargo target
        uses: actions/cache@v5
        with:
          path: ~/.cargo/target
          key: ${{ runner.os }}-cargo-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-target-

      # Cache target folder
      - name: Cache build
        uses: actions/cache@v5
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-build-target-

      # Check code formatting
      - name: Check formatting
        run: cargo fmt --check

      # Lint with clippy
      - name: Lint with clippy
        run: cargo clippy --all-targets -- -D warnings

      # Build native target
      - name: Build native target
        run: cargo build --release

      # Build WASM target
      - name: Build WASM target
        run: cargo build --target wasm32-unknown-unknown --profile wasm-release
